@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Enrollment

<h2>Add a enrollment</h2>
<hr />
@using (Html.BeginForm())
{
  <div class="mb-3">
    @Html.LabelFor(model => model.Course)
    @Html.DropDownList("CourseId", ViewBag.CourseId, null, new { required = "required" })
  </div>

  <div class="mb-3">
    @Html.LabelFor(model => model.Student)
    @Html.DropDownList("StudentId", ViewBag.StudentId, null, new { required = "required" })
  </div>

  <input type="submit" value="Add enrollment" />
}
<hr />
<p>@Html.ActionLink("Back to Enrollment List", "Index")</p>
<p>@Html.ActionLink("Go Back Home", "Index", "Home")</p>
