@{
  Layout = "_Layout";
}
@using UniversityRegistrar.Models
@model (Enrollment enrollment, Course course, Student student)

<h2>Course: @Model.course.Name</h2>
<h2>Course #: @Model.course.Number</h2>
<h2>Student: @Model.student.Name</h2>

<hr />
<p>@Html.ActionLink("Edit Course Name", "Edit", new { id = Model.enrollment.EnrollmentId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.enrollment.EnrollmentId })</p>
<p>@Html.ActionLink("Back to Course List", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>