@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h2>Add a course</h2>

@using (Html.BeginForm())
{
  <div class="mb-3">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { required = "required" })
  </div>

  <div class="mb-3">
    @Html.LabelFor(model => model.Number)
    @Html.TextBoxFor(model => model.Number, new { required = "required" })
  </div>

  <div class="mb-3">
    @Html.LabelFor(model => model.Department)
    @Html.DropDownList("DepartmentId", ViewBag.DepartmentId, null, new { required = "required" })
  </div>

  <input type="submit" value="Add course" />
}

<p>@Html.ActionLink("Back to Course List", "Index")</p>
<p>@Html.ActionLink("Go Back Home", "Index", "Home")</p>
